<div class="well prices">
    <h2>Prix des tickets</h2>
    <table class="table table-condensed price-table">
        <thead>
        <tr>
            <th>Tarif</th>
            <th class="text-right">Journée</th>
            <th class="text-right">Demi-journée</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Normal (plus de 12 ans)</td>
            <td class="text-right">16 €</td>
            <td class="text-right">8 €</td>
        </tr>
        <tr>
            <td>Enfant (de 4 à 12 ans)</td>
            <td class="text-right">8 €</td>
            <td class="text-right">4 €</td>
        </tr>
        <tr>
            <td>Senoir (plus de 60 ans)</td>
            <td class="text-right">12 €</td>
            <td class="text-right">6 €</td>
        </tr>
        <tr>
            <td>Réduit</td>
            <td class="text-right">10 €</td>
            <td class="text-right">5 €</td>
        </tr>
        </tbody>
    </table>
    <p>L'entrée du musée est gratuite pour les enfants de moins de 4 ans.</p>
    <p>Le tarif réduit est accordé dans certaines conditions : étudiant, employé de
        musée, employé du Ministère de la Culture, Militaire.<br/>
        <strong>Attention</strong> : n'oubliez pas de prendre votre carte d'étudiant, militaire ou
        équivalent lors de votre venue, pour prouver que vous bénéficiez bien du tarif
        réduit.</p>
    <p>Le musée est fermé tous les mardis, ainsi que les 1er mai, 1er novembre et
        25 décembre.</p>
</div>
